// ==========================================================================
// = Global Variables
// ==========================================================================



// Color Scheme
// examples based on the official Sass styleguide
// =============


// Main color palette
$white		:  #ffffff;
$black		:  #000000;
$orange     :  #fcb040;
$blue 		:  #74c4d6;








// Base Sizes

$base__font-size               : 16;
$base__line-height             : 24;

$letter-space                  : 0.01;
$trns-duration                 : 1;


// Font Stacks


$font-family--primary    : "futura-pt",sans-serif;;
$font-family--secondary  : 'akularegular';
$font-family--tertiary   : 'Dosis', sans-serif;

// Font Weights

// Book	"futura-pt"	400	normal
// Medium	"futura-pt"	500	normal
// Heavy	"futura-pt"	700	normal
// Extra Bold	"futura-pt"	800	normal




// Path to Assets
// ==============

$path--rel      : "../img";
