// ==========================================================================
// HOME PANEL
// ==========================================================================
.home-panel{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: calc(100vh);
    display: table;
    width: 100%;
    top: 0px;
    margin-bottom: 30px;
}

.home-logo{
 margin: calc(15vh) 0 0 0;
}
.home-play-btn{
 margin: 10px 0 0 0;


 img {
   cursor: pointer;

   &:hover {
     opacity: 0.7;
   }
 }
}
.home-callout{
  margin: 100px 0 0 0;

  a:hover{
    opacity: 0.7
  }
}


.vimeo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: black;
  width: 100%;
  height: 100vh;

  iframe {
    width: 100%;
    height: 100vh;
    display: none;
  }
}

.video-social{
	display:none;
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
	width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  h2{
  	text-transform: uppercase;
  	font-size: 48px;
  	margin: 0;
  	padding: 0 0 20px 0;
  }
  
  i{
  		font-size: 48px;
  		padding: 0 25px 0 25px;
  }
  
  .share-play
  {
  	font-size: 24px;
  	padding-top: 40px;
  	img{
  		padding-top: 20px;
  	}
  }
  
  .shares{
	 margin: calc(25vh) 0 0 0;
	}
  
  
  
 
}



// ==========================================================================
//CAROUSEL
// ==========================================================================

.carousel-control.left {
	background-image: url("img/arrow-left.png");
	background-repeat: no-repeat;
}

.carousel-control.right{
	background-image: url("img/arrow-right.png");
	background-repeat: no-repeat;
	@include mq($tablet-width, 'max-width') {
		right: 0px;
	}
}

.carousel-control{
	@include mq($tablet-width, 'max-width') {
		top: 145px;
	}
}

.sr-only{display: none;}

#home-carousel.carousel .item {
	min-height: 350px;
	width:100%;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
  height: 100vh;
  background-color: black;
  
  @include mq($tablet-width, 'max-width') {
		width:100%;
		height: auto;
 
		background-position: center;
	}
}

.carousel-caption{
	text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 70px 0;

	h4{
		margin:0;
		font-size: em(20);
		line-height: em(20);
		font-weight: 500;
		letter-spacing: 0.1em;
		padding: 0 0 20px 0;
    text-transform: uppercase;
    
    @include mq($mobile-landscape-width, 'max-width') {
	    font-size: em(15);
			line-height: em(15);
			display: none;
	    
	  }
	    @include mq($tablet-width, 'max-width') {
				display: none;
			}
		    
	}

	hr{
   	 	max-width: 300px;
   	 	border-top: none;
   	 	border-left: none;
   	 	border-right: none;
    	border-bottom: 1px solid $white;
    	 @include mq($tablet-width, 'max-width') {
				display: none;
			}

	}
	p{
		img{
			max-width: 48px;
		}
	}

	h2{
		margin: 0;
		font-family: $font-family--secondary;
		font-size: 32px;
		letter-spacing: 0.7em;
		padding: 0 0 15px 15px;
	}

	button {
		border: 1px solid $black;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		padding: 10px;
		margin-top: 0px;
		color: white;
		background-color:rgba(255,255,255,0.2);

		&:hover{
			color: white;
			background-color:rgba(0,0,0,0.2);
		}
		
		

	}

	/* Animation delays */
	/* Animation delays */
	h4{
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
	}
	hr {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
	}
	h2 {
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
	}
	p{
		-webkit-animation-delay: 1.75s;
		animation-delay: 1.75s;
	}
	button {
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
	}

}

.carousel-caption-container {
  max-width: 600px;
  margin: auto;

  @include mq($mobile-landscape-width, 'max-width') {
    max-width: 250px;
    
  }
}

// ==========================================================================
// FOUR IMG PANEL
// ==========================================================================

.four-imgs{

	padding: 30px 0 40px 0;
	background-color: $black;
	width: 100%;
	text-align: center;


	h2{
		margin: 0;
		color: $white;
		padding: 0 10px 10px 10px;
		border-bottom: 1px solid $white;
	}

	p{
		padding: 25px 0px 0px 0px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 700;
		letter-spacing: .05em;
	}
	img{
		padding-bottom: 20px;
	}
	
	.prizes {
		p{
			padding: 0;
			margin: 0;
		}
	}

}

// ==========================================================================
// EMAIL SIGN UP PANEL
// ==========================================================================

.email-signup{
	padding: 30px 0 0 0;
	background-color: $blue;
	width: 100%;
	text-align: center;
	
	.container{
		min-height: 265px;
	}

	h2{
		margin: 0;
		color: $black;
		padding: 0 10px 20px 10px;

	}

	.form-group{
		.columns{
			margin: 0 2px 0 2px;
		}
	}

	form.left-offset{
		// margin-left: 20px;
	}

	fieldset{
		margin: 0;
		padding: 0;
		border: 0;
	}

	label,legend{
		display: none
	}

	input[type="text"], input[type="email"]{
		margin-bottom: 4px;
		padding: 20px 15px 20px 15px;
		color: $black;
		background-color: #efefef;
		width: 100%;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 800;
		letter-spacing: .15em;
	}

	input.email{
		width: 668px;

		@media only screen and (min-width: $tablet-width) and (max-width: $base-width - 1) {
			width: 460px;
		}
		@include mq($tablet-width, "max-width") {
		    width: 100%;
		  }
	}

	button.submit{
		width: 668px;
		@media only screen and (min-width: $tablet-width) and (max-width: $base-width - 1) {
			width: 460px;
		}
		@include mq($tablet-width, "max-width") {
		    width: 100%;
		  }
		font-size: 20px;
		font-weight: 800;
		letter-spacing: .15em;
		height: 60px;
		background-color: $black;
		text-transform: uppercase;
		border: none;
		float: left;

		&:hover{
			background-color: $orange;
		}

	}

	.social-text{
		width: 100%;
		padding: 40px 0 20px 0;
		font-size: em(12);
		line-height: em(18);
		font-weight: 800;
		color: #494848;
		text-transform: uppercase;
		letter-spacing: .15em;
    display: inline-block;

		.left{
			width: 650px;
			padding-left: 30px;
      padding-right: 30px;
			text-align: left;
			float: left;
			@include mq($tablet-width, "max-width") {
		    	width: 100%;
		 	}
		}
		.right{
			float: right;
      padding-left: 30px;
			padding-right: 30px;
			display: inline;
			text-align: right;
			@include mq($tablet-width, "max-width") {
		    	width: 100%;
		    	float: left;
		    	text-align: left;
		    	padding-top: 10px;
		    	padding-left: 30px;
		 	}
		}
		a:hover{
			opacity: 1;
			color: $orange;
		}
	}
	
	p{
		font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: .05em;
    
   
	}
	
	#thank-you{
		display:none;
	}
	
	 .black{
    	color:$black;
    }



}

// ==========================================================================
// BOTTOM CAROUSEL
// ==========================================================================

#bottom-carousel
{
	width:100%;
	position: relative;
	background-color: $white;
	padding: 10px 0 10px 0;
}

.scrollWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#bottom-carousel div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	@include mq($tablet-width, "max-width") {
  		height: 200px;
  }
	

}


// ==========================================================================
// FOOTER PARRALAX
// ==========================================================================

.footer-parrallax{
	min-height: 90vh;
  background: transparent;
}

footer {
  background-color: #131313;

  p {
    font-family: $font-family--primary;
    color: #aaaeaf;
    font-size: 13px;
    letter-spacing: 0.15em;
  }
}

.logo-container {
  text-align: center;
}

.logo-1, .logo-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-footer {
  padding: 35px 0 10px;
  position: relative;
  float: left;
  width: 100%;
}

.social-icons-container {
  display: inline;
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 24px;
  a{
  	color: $blue;
  	
  	&:hover{
  		opacity: 1;
  		color: $orange;
  	}
  }

  @include mq($desktop-width, "max-width") {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 25px;
    right: initial;
    bottom: initial;
  }
}

.interior-header {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: none;
  @include mq($tablet-width, "max-width") {
  	position: absolute;
  }
}

.interior-header-item {
  text-align: center;
  padding: 60px 0;

  @include mq($tablet-width, 'max-width') {
    padding: 10px 0;
  }

  a {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.interior-logo {
  padding: 20px;
}

.interior-carousel {
  margin: 15px 0;
}

.interior-email {
  margin-bottom: 15px;
}

.adventurers {
  position: relative;
  z-index: 1;
  width: 100%;
  float: left;
  height: auto;
}

.adventurer {
  width: 33.3333333%;
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 333px;
  height: auto;
 
  
  &:hover{
  	opacity: 0.8;
  }

  @include mq('950px', "max-width") {
    width: 100%;
    background-position: top !important;
    min-height: 333px;
  }

  .carousel-caption {
    display: block;
    @include mq('950px', "max-width") {
	    padding: 12
	    0px 0 70px 0;
	  }
    
  }

  .carousel-caption-container {
    padding: 0 30px;
    @include mq('480px', "max-width") {
	     max-width: 400px;
	  }
       

    hr {
      margin-bottom: 30px;
    }
  }
}

#menu-toggle,#menu-close{
	display: none;
	@include mq($tablet-width, "max-width") {
			display: block;
	     position: absolute;
	     top: 15px;
	     right: 15px;
	     color: white;
	     z-index: 10000;
	     font-size: 30px;
	     &:hover{
	     	cursor: pointer;
	     	opacity: 0.7;
	     }
	}
       
}
#menu-close{display:none;}

